:root {
    /* primary */
    --pink-clr: hsl(322, 100%, 66%);

    /* neutral */
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayis-blue: hsl(208, 11%, 55%);

    /* font-size */
    --font-size: 1.2rem;

    /* heading */
    --heading: 'Poppins';

    /* body and cta */
    --body: 'Open Sans';
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-color: var(--light-grayish-blue); */
    
}

img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4,  li, a {
    font-family: var(--heading);
}
p, span, button,div {font-family: var(--body);}
span {font-size: 12px;}
ul {list-style-type: none;}
a {
    text-decoration: none;
    color: #000;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}
.header__logo {
    width: 120px;
}
.mobile-bk {
    background-color: var(--pale-cyan);
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    display: block;
}

.header__btn {
    cursor: pointer;
    padding: 6px 28px;
    border-radius: 44px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 1px 1px 2px #888888;
    font-weight: 700;
    transition: all 300ms;
}
.header__btn:hover
 {
opacity: .7;
}
.center {
    text-align: center;
}
.intro {
    padding: 2em 1em;
}
.intro__btn {
    cursor: pointer;
    padding: 12px 64px;
    border-radius: 44px;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: var(--pink-clr);
    color: white;
    margin-top: 2em;
    transition: opacity 500ms;
}
.intro__btn:hover,
.community__btn:hover {
    opacity: .7;
}
.intro__right {
    margin-top: 3em;
}
.grow, .users {
    margin: 4em 1em;
    padding: 4em 2em;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
}
.grow__right, .users__right {
    margin-bottom: 3.4em;
}

.flow {
    margin: 4em 1em;
    padding: 4em 2em;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 20px;
}
.community {
    display: block;
    position: absolute;
    top: 2800px;
    left: 20px;
    width: 90%;
    box-shadow: 1px 1px 2px #888888;
    background-color: white;
    border-radius: 16px;
    padding: 1em;
    text-align: center;
}
.community__title {
    font-size: 1.1rem;
}
.community__btn {
    cursor: pointer;
    padding: 12px 64px;
    border-radius: 44px;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: var(--pink-clr);
    color: white;
    margin-top: 1em;
    transition: opacity 500ms;
}
.footer {
    background-color: var(--dark-cyan);
    margin-top: 12em;
    padding-top: 10em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 4em;
}
.footer__img {
    width: 170px;
}
.footer__bottom {
color: white
}
.footer__location,
.footer__tel,
.footer__email {
    display: flex;
    align-items: center;
}
.footer__location > img,
.footer__tel > img,
.footer__email > img {
    align-self: flex-start;
    margin-top: 1.3em;
    margin-right: 1.5em;
}
.footer__item, .footer__icons {
    padding-left: 0;
}
.footer__list {
    font-size: var(--font-size);
    font-weight: 300;
}
.footer__list + .footer__list {
    padding-top: 1em;
}
.footer__icons {
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.footer__icon + .footer__icon {
    padding-left: 1.5em;
}
.footer__col-4 {
    margin-top: 4em;
}
.circle {
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: 15px;
    padding-top: 9px;
    color: white;
}
.circle:hover,
.circle-2:hover,
.circle-3:hover{
    border-color: var(--desaturate-blue);
}
.footer__col-2 {
    margin-top: 3em;
}
.circle-2 {
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: 10px;
    padding-top: 9px;
    color: white;
}
.circle-3 {
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: 10px;
    padding-top: 9px;
    color: white;
}
.footer__copy-right {
    font-size: .8rem;
    color: white;
    text-align: center;
    margin-top: 3em;
}
@media (min-width: 400px) {
    .mobile-bk{
        display: none;
    }
    .desktop-bk {
        display: block;
        background-color: var(--pale-cyan);
        background-image: url(images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
    }
    .header{
        padding-left: 4em;
        padding-right: 4em;
    }
    .intro {
        display: flex;
        align-items: center;
        text-align: left;
        padding-left: 4em;
        padding-right: 4em;
    }
    .intro__title {
        width: 60%;
        font-size: 2rem;
    }
    .intro__para,
    .grow__para     {
        width: 70%;
    }
    .grow, .users {
       flex-direction: row;
       align-items: center;
       text-align: left;
       padding-left: 4em;
       padding-right: 4em;
       margin-left: 4em;
       margin-right: 4em;
    }
    .flow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8em;
        text-align: left;
        padding-left: 4em;
        padding-right: 4em;
        margin-left: 4em;
        margin-right: 4em;
    }
    .flow__para,
    .users__para {
        width: 85%;
    }
    .community {
        top: 2550px;
        left: 31%;
        width: 40%; 
    }
   
    .footer__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer__col-1 {
       width: 30%; 
    }
    .footer__col-2,
    .footer__col-3,
    .footer__col-4 {
        margin-top: 0;
        align-self: flex-start;
    }
    .footer__col-1,
    .footer__col-2,
    .footer__col-3,
    .footer__col-4 {
        padding-right: 5em;
    }
    .footer__copy-right {
        font-size: 1.2rem;
        text-align: right;
        padding-right: 3em;
    }
}